<%- include ("includes/_header.ejs") %>
<div id="containerAppello">
    <h1>Appello</h1>
    <div id="divFormAppello">
        <form id="formAppello" enctype="multipart/form-data">
            <div>
                <b>Studenti prenotati (csv): </b>
                <input type="file" name="fileCSV" id="fileCSV" accept=".csv" required>
            </div>
            <div>
                <b>Esiti (csv): </b>
                <input type="file" name="fileCSV" id="file2" accept=".csv" required>
            </div>
            <div>
                <input type="button" name="sbmt" id="sbmtCSV" value="Invia" onclick="sendFile()">
            </div>
        </div>

    <div id="tableAppello_container">
        <table>
            <thead id="thead">
                <tr class="trAppello">
                    <th>ID_Appello</th>
                    <th>Matricola</th>
                    <th>Scritto</th>
                    <th>Max</th>
                    <th class="fontSize15">Voto Scritto(Max 22)</th>
                    <th>Formula</th>
                    <th>Orale</th>
                    <th>Laboratorio</th>
                    <th>Voto_Complessivo</th>
                    <th>Stato</th>
                </tr>  
            </thead>
            <tbody id="tbodyAppello">
                <%for(var i=0; i<esame.length; i++){ %>
                    <tr class="rows">
                        <td><%= esame[i].idAppello %></td>
                        <td><%= esame[i].matricola %></td>
                        <td><%= esame[i].maxRisposte %></td>
                        <td><%= esame[i].risposteDate %></td>
                        <td><%= esame[i].maxVotoScritto %></td>
                        <td><%= esame[i].formula %></td>
                        <td><%= esame[i].orale %></td>
                        <td><%= esame[i].laboratorio %></td>
                        <td><%= esame[i].votoComplessivo %></td>
                        <td><%= esame[i].stato %></td>
                        </div>
                    </tr>
                    <%} %>
            </tbody>
        </table>
    </div>
    <div id="csvTable">

    </div>
</div>

<%- include ("includes/_footer.ejs") %>
